@import url(http://fonts.googleapis.com/earlyaccess/notosanskr.css);
html {
  font-family: 'Noto Sans KR', 'Roboto', sans-serif;
}
.bg_box {
  position: relative;
  z-index: -1;
}
.bg_box .bg_img {
  width: 100%;
  height: auto;
  background-size: cover;
}
.content-wrapper {
  position: absolute;
  text-align: center;
  top: 15%;
  left: 0;
  right: 0;
}
.content-wrapper .content {
  position: relative;
  margin: 0 auto;
  width: 90%;
}
.content-wrapper .content img {
  margin: 10px;
  width: 25%;
}
.content-wrapper .content .title {
  font-size: 2rem;
  padding: 10px;
}
.content-wrapper .content p {
  font-size: 1rem;
  margin-bottom: 50px;
}
.content-wrapper .content .app-info {
  font-size: 0.8rem;
  margin: 20px;
}
.content-wrapper .content .app-btn {
  width: 40%;
  height: 50px;
  color: black;
  font-size: 1rem;
  margin: 0 auto;
  border: 1px solid black;
  box-shadow: none !important;
  background-color: rgba(255, 255, 255, 0) !important;
}
