button {
  background-color: #5ddbdb !important;
}
* {
  -webkit-touch-callout: none;
  -webkit-user-select: none;
  -khtml-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}
nav.nav-top {
  background-color: #fff;
  box-shadow: none !important;
}
nav.nav-top .button-collapse {
  left: 20px;
}
nav.nav-top .button-collapse i {
  font-size: 2rem !important;
}
nav.nav-top a {
  color: #5ddbdb;
}
.tab-menu {
  box-shadow: 0 6px 5px 0 rgba(0, 0, 0, 0.02), 0 2px 10px 0 rgba(0, 0, 0, 0.05) !important;
}
.tab-menu .tabs {
  height: 100%;
}
.tab-menu .tabs .tab {
  height: 100%;
}
.tab-menu .tabs .tab a img {
  width: 30px;
  height: 30px;
  margin: 10px 0 -25px 0px;
}
.contents-container img {
  width: 100%;
}
.contents-container ul li .col .col {
  padding-left: 0;
}
.qty-box {
  border: 1px solid #bcbcbc;
  border-radius: 3px;
  display: block;
  position: relative;
}
.qty-box span {
  float: left;
  line-height: 1.5;
  width: calc(33.33333333%);
}
.qty-box .left-set {
  text-align: left;
}
.qty-box .center-set {
  text-align: center;
}
.qty-box .right-set {
  text-align: right;
}
.order-info .col .col {
  padding-left: 0 !important;
}
.order-info button {
  height: 42px !important;
  box-shadow: none !important;
}
