.bg_box {
  position: relative;
  z-index: -1;
}
.bg_box .bg_img {
  width: 100%;
  height: auto;
  background-size: cover;
}
.content-wrapper {
  position: absolute;
  text-align: center;
  top: 15%;
  left: 0;
  right: 0;
}
.content-wrapper .content {
  position: relative;
  margin: 0 auto;
  width: 90%;
}
.content-wrapper .content .title {
  font-size: 2rem;
  padding: 10px;
}
.content-wrapper .content p {
  font-size: 1rem;
}
.content-wrapper .content input {
  width: 70%;
  border: 1px solid #bbb;
  background-color: #fff;
  padding-left: 15px;
}
.content-wrapper .content .trace-btn {
  display: block;
  width: 35%;
  height: 45px;
  line-height: 45px;
  vertical-align: middle;
  font-size: 1rem;
  margin: 0 auto;
  box-shadow: none !important;
  background-color: #5ddbdb;
}
.modal {
  max-width: 400px !important;
  max-height: 100%;
  overflow-y: auto;
}
.modal .close-btn {
  width: 15px;
  cursor: pointer;
}
.modal .caption {
  font-weight: bold;
}
.modal .modal-box {
  padding: 30px;
  position: relative;
  top: 15px;
}
