@import url(http://fonts.googleapis.com/earlyaccess/notosanskr.css);
html {
  font-family: 'Noto Sans KR', 'Roboto', sans-serif;
}
.bg_box {
  position: relative;
  z-index: -1;
}
.bg_box .bg_img {
  width: 100%;
  height: auto;
  background-size: cover;
}
.content-wrapper {
  position: absolute;
  text-align: center;
  top: 15%;
  left: 0;
  right: 0;
}
.content-wrapper .content {
  position: relative;
  margin: 0 auto;
  width: 90%;
}
.content-wrapper .content .title {
  margin: 15px 0;
  font-size: 2.3em;
  font-weight: lighter;
  line-height: 1.2;
  color: #394646;
}
.content-wrapper .content p {
  font-size: 0.8em;
  font-weight: 500;
  line-height: 1.6;
  color: #646464;
}
.content-wrapper .content input {
  width: 65%;
  height: 40px;
  font-size: 0.9em;
  border: 1px solid #bbb;
  background-color: #fff;
  padding-left: 15px;
}
.content-wrapper .content input:focus {
  border-bottom: 1px solid #bbb;
  box-shadow: none;
}
.content-wrapper .content .trace-btn {
  display: block;
  width: 35%;
  height: 45px;
  line-height: 45px;
  vertical-align: middle;
  font-size: 1rem;
  margin: 0 auto;
  padding: 0;
  box-shadow: none !important;
  background-color: #5ddbdb;
}
.modal {
  max-width: 400px !important;
  max-height: 100%;
  overflow-y: auto;
  border-radius: 5px;
}
.modal .close-btn {
  font-size: 1.3em;
  position: absolute;
  right: 18px;
  top: 18px;
  cursor: pointer;
}
.modal .caption {
  font-weight: 500;
  padding: 15px 0;
}
.modal img {
  width: 18%;
  margin: 15px auto;
  display: block;
}
.modal .subtitle {
  margin: 20px 0;
  font-size: 2em;
  font-weight: lighter;
  line-height: 1.2;
  color: #394646;
}
.modal .progress-bar {
  box-sizing: border-box;
  margin-top: 12%;
  margin-bottom: 6%;
  width: 100%;
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  padding: 0 30px;
  height: 55px;
}
.modal .progress-bar .step {
  text-align: center;
  -webkit-box-flex: 0;
  -webkit-flex-grow: 0;
  -ms-flex-positive: 0;
  flex-grow: 0;
  -webkit-flex-shrink: 0;
  -ms-flex-negative: 0;
  flex-shrink: 0;
}
.modal .progress-bar .step .circle {
  width: 16px;
  height: 16px;
  border-radius: 50%;
  margin: 0 auto;
  border: 1px solid #b3b3b3;
}
.modal .progress-bar .step .circle .inner-circle {
  background: #5ddbdb;
  width: 8px;
  height: 8px;
  border-radius: 50%;
  margin: 3px auto 0px auto;
  display: block;
}
.modal .progress-bar .step .progress-name {
  font-weight: 400;
  color: #394646;
  font-size: 0.8em;
  line-height: 16px;
  margin-top: 10px;
}
.modal .progress-bar .bar {
  height: 1px;
  background: #b3b3b3;
  min-width: 20px;
  margin-top: 8px;
  -webkit-box-flex: 1;
  -webkit-flex-grow: 1;
  -ms-flex-positive: 1;
  flex-grow: 1;
  -webkit-flex-shrink: 1;
  -ms-flex-negative: 1;
  flex-shrink: 1;
  width: auto;
  position: relative;
  margin-left: -3px;
  margin-right: -3px;
}
.modal .divider {
  margin: 0 -25px;
}
.modal .my-order-info {
  font-size: 12px;
  line-height: 1.2;
  margin-top: 12px;
  margin-bottom: -5px;
}
.modal .my-order-info td {
  vertical-align: top;
}
.modal .my-order-info td:nth-child(1) {
  width: 28%;
  font-weight: bold;
}
.modal .my-order-info td:nth-child(2) {
  font-weight: 300;
}
