@import url(http://fonts.googleapis.com/earlyaccess/notosanskr.css);
html {
  font-family: 'Noto Sans KR', 'Roboto', sans-serif;
}
.bg_box {
  position: relative;
  z-index: -1;
}
.bg_box .bg_img {
  width: 100%;
  height: auto;
  background-size: cover;
}
.content-wrapper {
  position: absolute;
  text-align: center;
  top: 15%;
  left: 0;
  right: 0;
}
.content-wrapper .content {
  position: relative;
  margin: 0 auto;
  width: 90%;
}
.content-wrapper .content .title {
  font-size: 2rem;
  padding: 10px;
}
.content-wrapper .content p {
  font-size: 1rem;
}
.content-wrapper .content input {
  width: 70%;
  border: 1px solid #bbb;
  background-color: #fff;
  padding-left: 15px;
}
.content-wrapper .content .trace-btn {
  display: block;
  width: 35%;
  height: 45px;
  line-height: 45px;
  vertical-align: middle;
  font-size: 1rem;
  margin: 0 auto;
  box-shadow: none !important;
  background-color: #5ddbdb;
}
.modal {
  max-width: 400px !important;
  max-height: 100%;
  overflow-y: auto;
  border-radius: 8px;
}
.modal .close-btn {
  width: 15px;
  height: 15px;
  position: absolute;
  right: 24px;
  cursor: pointer;
}
.modal .caption {
  font-weight: bold;
  padding: 25px 0;
}
.modal img {
  width: 20%;
  margin: 10px auto;
  display: block;
}
.modal .subtitle {
  font-size: 2rem;
  line-height: 35px;
  font-weight: 200;
  margin: 20px auto;
}
.modal .progress-bar {
  box-sizing: border-box;
  margin: 30px auto;
  width: 100%;
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  padding: 0 30px;
  height: 55px;
}
.modal .progress-bar .step {
  text-align: center;
  -webkit-box-flex: 0;
  -webkit-flex-grow: 0;
  -ms-flex-positive: 0;
  flex-grow: 0;
  -webkit-flex-shrink: 0;
  -ms-flex-negative: 0;
  flex-shrink: 0;
}
.modal .progress-bar .step .circle {
  width: 16px;
  height: 16px;
  border-radius: 50%;
  margin: 0 auto;
  border: 1px solid #b3b3b3;
}
.modal .progress-bar .step .circle .inner-circle {
  background: #5ddbdb;
  width: 8px;
  height: 8px;
  border-radius: 50%;
  margin: 3px auto 0px auto;
  display: block;
}
.modal .progress-bar .step .progress-name {
  font-weight: 200;
  color: #585858;
  line-height: 16px;
  margin-top: 10px;
}
.modal .progress-bar .bar {
  height: 1px;
  background: #b3b3b3;
  min-width: 20px;
  margin-top: 8px;
  -webkit-box-flex: 1;
  -webkit-flex-grow: 1;
  -ms-flex-positive: 1;
  flex-grow: 1;
  -webkit-flex-shrink: 1;
  -ms-flex-negative: 1;
  flex-shrink: 1;
  width: auto;
  position: relative;
  margin-left: -5px;
  margin-right: -5px;
}
.modal .divider {
  margin: 0 -30px;
}
.modal .my-order-info {
  font-size: 12px;
  margin-top: 14px;
  margin-bottom: -10px;
}
.modal .my-order-info td {
  padding: 10px 5px;
}
.modal .my-order-info td:nth-child(1) {
  font-weight: bold;
}
