@import url(http://fonts.googleapis.com/earlyaccess/notosanskr.css);
html {
  font-family: 'Noto Sans KR', 'Roboto', sans-serif;
}
html {
  line-height: 1.2;
}
.top {
  background-color: #5ddbdb;
  color: white;
  font-size: 1.3rem;
  padding: 15px !important;
}
.section {
  padding: 30px 30px 10px 30px !important;
}
.section .divider {
  height: 2px;
  background-color: #666666;
}
.section table {
  font-size: 16px;
  border-collapse: separate;
  color: #666666;
  padding: 0 10px;
}
.section table [data-field="id"] {
  text-align: left;
}
.section table [data-field="name"] {
  text-align: center;
}
.section table [data-field="price"] {
  text-align: right;
}
.section table td:nth-child(1) {
  text-align: left;
}
.section table td:nth-child(2) {
  text-align: center;
}
.section table td:nth-child(3) {
  text-align: right;
}
.section table tr:last-child td {
  color: #5ddbdb;
  border-top: 1px solid #bcbcbc;
  border-bottom: 2px solid #bcbcbc;
}
.section .cancel-btn {
  height: 42px !important;
  box-shadow: none !important;
  background-color: #cccccc !important;
  float: right;
  margin-top: 20px;
}
.section .headline-info {
  margin-bottom: 30px;
}
.section .select-wrapper {
  margin-bottom: 10px;
}
.section .select-wrapper .text {
  width: 16%;
  font-weight: bold;
  font-size: 16px;
  line-height: 3rem;
  padding: 0;
  display: inline;
}
.section .select-wrapper input,
.section .select-wrapper select {
  width: 40%;
  border: 1px solid #bbb;
  display: inline;
  margin: 0 0 0 5px;
}
.section .input-wrapper input:focus {
  border-bottom: 1px solid #5ddbdb !important;
  box-shadow: 0 1px 0 0 #5ddbdb !important;
}
.section .order-btn {
  color: #5ddbdb;
  background-color: transparent !important;
  display: inline-block;
  text-align: center;
  cursor: pointer;
  background-color: white;
  padding: 12px 24px;
  border: 2px solid #5ddbdb;
  border-radius: 3px;
  text-decoration: none;
  margin: 30px 0;
}
