@import (once) "var";

//*-- 상단바 --*//
nav.nav-top {
    background-color: #fff;
    box-shadow: none !important;
  
    .button-collapse {
    	left: 20px;
    	i {
    		font-size: 2rem !important;
    	}
    }
    a {
        color: @primary;
    }
}

.tab-menu {
	box-shadow: 0 6px 5px 0 rgba(0, 0, 0, 0.02), 0 2px 10px 0 rgba(0, 0, 0, 0.05) !important;	
	
	.tabs {
		height: 100%;

		.tab {
			height: 100%;
		}
	}
}

.contents {
	img {
		width: 100%;
	}
}
