@import (once) "var";

 .bg_box {
	position: relative;
	z-index: -1;

	.bg_img {
		width: 100%;
		height: auto;
		background-size: cover;
	}
}

 .content-wrapper {
	position: absolute;
	text-align: center;
	top: 15%;
	left: 0;
	right: 0;

	 .content {
		position: relative;
		margin: 0 auto;
		width: 90%;

		.title {
			font-size: 2rem;
			padding: 10px;
			// line-height: 1.3;
		}
		
		p {
			font-size: 1rem;
		}
		
		input {
			width: 70%;
			border:1px solid #bbb;
			background-color: #fff;
			padding-left: 15px;
		}

		.trace-btn {
			display: block;
			width: 35%;
			height: 45px;
			line-height: 45px;
			vertical-align: middle;
			font-size: 1rem;
			margin: 0 auto;
			box-shadow: none !important;
			background-color: @primary;
		}
	}
}


.modal {
	max-width: 400px !important;
	max-height: 100%;
	overflow-y: auto; 

	.close-btn {
		width: 15px;
		cursor: pointer;
	}
	
	.caption {
		font-weight: bold;
	}

	.modal-box {
		padding: 30px;
		position: relative;
		top: 15px;
	
	}
}




