@import (once) "var";

html {
	line-height: 1.2;
}
.top {
	background-color: @primary;
	color: white;
	font-size: 1.3rem;
	padding: 15px !important;
}

.section {
	padding: 30px 30px 10px 30px !important;

	.divider {
		height: 2px;
		background-color: #666666;
	}

	table {
		font-size: 16px;
		border-collapse: separate;
		color: @font-primary;
		padding: 0 10px;
		
		[data-field="id"] {
			text-align: left;
		}

		[data-field="name"] {
			text-align: center;
		}

		[data-field="price"] {
			text-align: right;
		}

		td:nth-child(1){
			text-align: left;
		}
		td:nth-child(2){
			text-align: center;
		}
		td:nth-child(3){
			text-align: right;
		}

		tr:last-child td {
			color: @primary;
			border-top: 1px solid #bcbcbc;
			border-bottom: 2px solid #bcbcbc;
		}
	}

	.cancel-btn {
		height: 42px !important;
		box-shadow: none !important;
		background-color: #cccccc !important;
		float: right;
		margin-top: 20px;
	}

	.headline-info {
		margin-bottom: 30px;
	}
	
	.select-wrapper {
		margin-bottom: 10px;

		.text {
			width: 16%;
			font-weight: bold;
			font-size: 16px;
			line-height: 3rem;
			padding: 0;
			display: inline;
		}
		input {
			width: 40%;
			border:1px solid #bbb;
			display: inline;
			margin: 0 0 0 5px;
		}
	
	}

	.input-wrapper {
		input:focus{
			border-bottom: 1px solid @primary !important;
			box-shadow: 0 1px 0 0 @primary !important;		
		}
	}

	.order-btn {
		color: @primary;
		background-color: transparent !important; 
		display: inline-block;
		text-align: center;
		cursor: pointer;
		background-color: white;
		padding: 12px 24px;
		border: 2px solid @primary;
		border-radius: 3px;
		text-decoration: none;
		margin: 30px 0;
	}
}
 